<div class="footer-top border-bottom section-padding-top padding-bottom-40">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-logo">
          <a href="#">
            <img src="../images/logo.png" class="img-fluid" alt="" width="20%">
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-social">
          <ul class="social-icons">
            <li><a href="#"><i data-feather="facebook"></i></a></li>
            <li><a href="#"><i data-feather="twitter"></i></a></li>
            <li><a href="#"><i data-feather="linkedin"></i></a></li>
            <li><a href="#"><i data-feather="instagram"></i></a></li>
            <li><a href="#"><i data-feather="youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-widget-wrapper padding-bottom-60 padding-top-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-6">
        <div class="footer-widget footer-shortcut-link">
          <h4>Information</h4>
          <div class="widget-inner">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="footer-widget footer-shortcut-link">
          <h4>Job Seekers</h4>
          <div class="widget-inner">
            <ul>
              <li><a href="#">Create Account</a></li>
              <li><a href="#">Career Counseling</a></li>
              <li><a href="#">My HiPo</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Video Guides</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="footer-widget footer-shortcut-link">
          <h4>Employers</h4>
          <div class="widget-inner">
            <ul>
              <li><a href="#">Create Account</a></li>
              <li><a href="#">Products/Service</a></li>
              <li><a href="#">Post a Job</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 col-sm-6">
        <div class="footer-widget footer-newsletter">
          <h4>Newsletter</h4>
          <p>Get e-mail updates about our latest news and Special offers.</p>
          <form action="#" class="newsletter-form form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email address...">
            </div>
            <button class="btn button primary-bg">Submit<i class="fas fa-caret-right"></i></button>
            <p class="newsletter-error">0 - Please enter a value</p>
            <p class="newsletter-success">Thank you for subscribing!</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-bottom border-top">
          <div class="row">
            <div class="col-xl-4 col-lg-5 order-lg-2">
              <div class="footer-app-download">
                <a href="#" class="apple-app">Apple Store</a>
                <a href="#" class="android-app">Google Play</a>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 order-lg-1">
              <p class="copyright-text">Copyright <a href="#">HiPo</a> 2019, All right reserved</p>
            </div>
            <div class="col-xl-4 col-lg-3 order-lg-3">
              <div class="back-to-top">
                <a href="#">Back to top<i class="fas fa-angle-up"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
