
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-top">
          <div class="logo-area">
            <a href="/home"><img src="../images/logo.png" alt=""></a>
          </div>
          <div class="header-top-toggler">
            <div class="header-top-toggler-button"></div>
          </div>
          <div class="top-nav">
            <div class="dropdown header-top-notification">
              <a href="#" class="notification-button">Notification</a>
              <div class="notification-card">
                <div class="notification-head">
                  <span>Notifications</span>
                  <a href="#">Mark all as read</a>
                </div>
                <div class="notification-body">
                  <a href="home-2.html" class="notification-list">
                    <i class="fas fa-bolt"></i>
                    <p>Your Resume Updated!</p>
                    <span class="time">5 hours ago</span>
                  </a>
                  <a href="#" class="notification-list">
                    <i class="fas fa-arrow-circle-down"></i>
                    <p>Someone downloaded resume</p>
                    <span class="time">11 hours ago</span>
                  </a>
                  <a href="#" class="notification-list">
                    <i class="fas fa-check-square"></i>
                    <p>You applied for Project Manager <span>@homeland</span></p>
                    <span class="time">11 hours ago</span>
                  </a>
                  <a href="#" class="notification-list">
                    <i class="fas fa-user"></i>
                    <p>You changed password</p>
                    <span class="time">5 hours ago</span>
                  </a>
                  <a href="#" class="notification-list">
                    <i class="fas fa-arrow-circle-down"></i>
                    <p>Someone downloaded resume</p>
                    <span class="time">11 hours ago</span>
                  </a>
                </div>
                <div class="notification-footer">
                  <a href="#">See all notification</a>
                </div>
              </div>
            </div>
            <div class="dropdown header-top-account">
              <a href="#" class="account-button">My Account</a>
              <div class="account-card">
                <div class="header-top-account-info">
                  <a href="#" class="account-thumb">
                    <img src="../images/account/thumb-1.jpg" class="img-fluid" alt="">
                  </a>
                  <div class="account-body">
                    <h5><a href="#"><%=currentUser.username;%></a></h5>
                    <span class="mail"><%=currentUser.email;%></span>
                  </div>
                </div>
                <ul class="account-item-list">
                  <li><a href="/<%=currentUser._id;%>/user_dashboard"><span class="ti-user"></span>Account</a></li>
                  <li><a href="/<%=currentUser._id;%>/user_setting"><span class="ti-settings"></span>Settings</a></li>
                  <li><a href="/logout"><span class="ti-power-off"></span>Log Out</a></li>
                </ul>
              </div>
            </div>
            <select class="selectpicker select-language" data-width="fit">
              <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
            </select>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg cp-nav-2">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="menu-item "><a title="Home" href="/home">Home</a></li>
              <li class="menu-item "><a title="Jobs" href="/<%=currentUser._id;%>/jobs">Jobs</a></li>

              <li class="menu-item dropdown">
                <a title="" href="/<%=currentUser._id;%>/aboutus" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">About Us</a>
                <ul  class="dropdown-menu">
                  <li class="menu-item"><a href="/<%=currentUser._id;%>/aboutus">About Us</a></li>
                  <li class="menu-item"><a href="/<%=currentUser._id;%>/howitworks">How It Works</a></li>
                  <li class="menu-item"><a href="/<%=currentUser._id;%>/faq">FAQ</a></li>
                  <li class="menu-item dropdown">
                    <a href="#" data-toggle="dropdown"  class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">News &amp; Advices</a>
                    <ul class="dropdown-menu">
                      <li class="menu-item"><a href="blog.html">News</a></li>
                    </ul>
                  </li>

                </ul>
              </li>
              <li class="menu-item"><a href="/<%=currentUser._id;%>/contactus">Contact Us</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
