
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-top">
          <div class="logo-area">
            <a href="/employer_dashboard"><img src="../images/logo.png" alt=""></a>
          </div>
          <div class="header-top-toggler">
            <div class="header-top-toggler-button"></div>
          </div>
          <div class="top-nav">
            <div class="dropdown header-top-account">
              <a href="#" class="account-button">My Account</a>
              <div class="account-card">
                <div class="header-top-account-info">
                  <a href="#" class="account-thumb">
                    <img src="images/account/thumb-1.jpg" class="img-fluid" alt="">
                  </a>
                  <div class="account-body">
                    <h5><a href="#"><%=currentUser.username;%></a></h5>
                    <span class="mail"><%=currentUser.email;%></span>
                  </div>
                </div>
                <ul class="account-item-list">
                  <li><a href="/employer_dashboard"><span class="ti-user"></span>Account</a></li>
                  <li><a href="#"><span class="ti-settings"></span>Settings</a></li>
                  <li><a href="/logout"><span class="ti-power-off"></span>Log Out</a></li>
                </ul>
              </div>
            </div>
            <select class="selectpicker select-language" data-width="fit">
              <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
              <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
            </select>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg cp-nav-2">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>

      </div>
    </div>
  </div>
