<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HiPo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <!-- External Css -->
    <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/themify-icons.css" />
    <link rel="stylesheet" href="../assets/css/et-line.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../assets/css/plyr.css" />
    <link rel="stylesheet" href="../assets/css/flag.css" />
    <link rel="stylesheet" href="../assets/css/slick.css" />
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../assets/css/jquery.nstSlider.min.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="../images/favicon.png">
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/icon-114x114.png">


    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

  <% include ../partials/user/menu%>

    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>About Us</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
            <div class="breadcrumb-form">
              <form action="#">
                <input type="text" placeholder="Enter Keywords">
                <button><i data-feather="search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Candidates Details -->
    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="white-bg others-block">
              <div class="about-company">
                <div class="row">
                  <div class="col-lg-6 order-lg-2">
                    <div class="feature-thumb">
                      <img src="images/feature/thumb-1.png" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-lg-6 order-lg-1">
                    <div class="feature-content">
                      <h3>Over 10,00,000 + Jobs</h3>
                      <p>Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                      <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                      <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words. ver many web.</p>
                      <a href="#" class="button">Get Started</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="infobox-wrap">
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="info-box">
                      <div class="icon">
                        <i data-feather="cast"></i>
                      </div>
                      <h4>Advertise A Job</h4>
                      <p>Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="info-box">
                      <div class="icon">
                        <i data-feather="layout"></i>
                      </div>
                      <h4>Recruiter Profiles</h4>
                      <p>Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="info-box">
                      <div class="icon">
                        <i data-feather="compass"></i>
                      </div>
                      <h4>Find Your dream job</h4>
                      <p>Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fun Facts -->
              <div class="padding-top-90 padding-bottom-60 fact-bg">
                <div class="container">
                  <div class="row fact-items">
                    <div class="col-md-3 col-sm-6">
                      <div class="fact">
                        <div class="fact-icon">
                          <i data-feather="briefcase"></i>
                        </div>
                        <p class="fact-number"><span class="count" data-form="0" data-to="12376"></span></p>
                        <p class="fact-name">Live Jobs</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="fact">
                        <div class="fact-icon">
                          <i data-feather="users"></i>
                        </div>
                        <p class="fact-number"><span class="count" data-form="0" data-to="89562"></span></p>
                        <p class="fact-name">Candidate</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="fact">
                        <div class="fact-icon">
                          <i data-feather="file-text"></i>
                        </div>
                        <p class="fact-number"><span class="count" data-form="0" data-to="28166"></span></p>
                        <p class="fact-name">Resume</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <div class="fact">
                        <div class="fact-icon">
                          <i data-feather="award"></i>
                        </div>
                        <p class="fact-number"><span class="count" data-form="0" data-to="1366"></span></p>
                        <p class="fact-name">Companies</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Fun Facts End -->
              <div class="padding-top-90 padding-bottom-90">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="call-to-action-box candidate-box">
                        <div class="icon">
                          <img src="../images/register-box/1.png" alt="">
                        </div>
                        <span>Are You</span>
                        <h3>Candidate?</h3>
                        <a href="#" data-toggle="modal" data-target="#exampleModalLong3">Register Now <i class="fas fa-arrow-right"></i></a>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="call-to-action-box employer-register">
                        <div class="icon">
                          <img src="../images/register-box/2.png" alt="">
                        </div>
                        <span>Are You</span>
                        <h3>Employer?</h3>
                        <a href="#" data-toggle="modal" data-target="#exampleModalLong3">Register Now <i class="fas fa-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <div class="account-entry">
                <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title"><i data-feather="edit"></i>Registration</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="account-type">
                          <a href="#" class="candidate-acc active"><i data-feather="user"></i>Candidate</a>
                          <a href="#" class="employer-acc"><i data-feather="briefcase"></i>Employer</a>
                        </div>
                        <form action="#">
                          <div class="form-group">
                            <input type="text" placeholder="Username" class="form-control">
                          </div>
                          <div class="form-group">
                            <input type="email" placeholder="Email Address" class="form-control">
                          </div>
                          <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                          </div>
                          <div class="more-option terms">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                              <label class="form-check-label" for="defaultCheck2">
                                I accept the <a href="#">terms & conditions</a>
                              </label>
                            </div>
                          </div>
                          <button class="button primary-bg btn-block">Register</button>
                        </form>
                        <div class="shortcut-login">
                          <span>Or connect with</span>
                          <div class="buttons">
                            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i>Facebook</a>
                            <a href="#" class="google"><i class="fab fa-google"></i>Google</a>
                          </div>
                          <p>Already have an account? <a href="#">Login</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial -->
              <div class="padding-bottom-90">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="testimonial">
                        <div class="testimonial-quote">
                          <img src="../images/testimonial/quote.png" class="img-fluid" alt="">
                        </div>
                        <div class="testimonial-for">
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob One”</p>
                            <h5>Maria Marlin @ Google</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Two”</p>
                            <h5>Laura Harper @ Amazon</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Three”</p>
                            <h5>John Doe @ Envato</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Four”</p>
                            <h5>Jenny Doe @ Dribbble</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Five”</p>
                            <h5>Michle Clark @ Apple</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Two”</p>
                            <h5>Laura Harper @ Amazon</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Three”</p>
                            <h5>John Doe @ Envato</h5>
                          </div>
                        </div>
                        <div class="testimonial-nav">
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-1.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/1.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-2.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/2.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-3.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/3.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-4.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/4.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-5.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/5.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-2.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/2.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-3.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/3.png" class="comapnyLogo" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial End -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Candidates Details End -->

    <!-- Call to Action -->
    <div class="call-to-action-bg padding-top-90 padding-bottom-90">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="call-to-action-2">
              <div class="call-to-action-content">
                <h2>For Find Your Dream Job </h2>
                <p>Add resume or post a job. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
              </div>
              <div class="call-to-action-button">
                <a href="add-resume.html" class="button">Add Resume</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Call to Action End -->

    <!-- Footer -->
    <footer class="footer-bg">
        <% include ../partials/user/footer %>
    </footer>
    <!-- Footer End -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/feather.min.js"></script>
    <script src="../assets/js/bootstrap-select.min.js"></script>
    <script src="../assets/js/jquery.nstSlider.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/visible.js"></script>
    <script src="../assets/js/jquery.countTo.js"></script>
    <script src="../assets/js/chart.js"></script>
    <script src="../assets/js/plyr.js"></script>
    <script src="../assets/js/tinymce.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="../js/custom.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
    <script src="../js/map.js"></script>
  </body>
</html>
