<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HiPo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <!-- External Css -->
    <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/themify-icons.css" />
    <link rel="stylesheet" href="../assets/css/et-line.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../assets/css/plyr.css" />
    <link rel="stylesheet" href="../assets/css/flag.css" />
    <link rel="stylesheet" href="../assets/css/slick.css" />
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../assets/css/jquery.nstSlider.min.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="../images/favicon.png">
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/icon-114x114.png">


    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

      <% include ../partials/user/menu%>

    <!-- Breadcrumb -->
    <div class="alice-bg padding-top-70 padding-bottom-70">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-area">
              <h1>How It Work</h1>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">How It Work</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-md-6">
            <div class="breadcrumb-form">
              <form action="#">
                <input type="text" placeholder="Enter Keywords">
                <button><i data-feather="search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- How It Work -->
    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="white-bg others-block">
              <div class="how-it-work">
                <div class="row">
                  <div class="col-lg-6 order-lg-2">
                    <div class="working-process-thumb">
                      <img src="../images/feature/thumb-2.png" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-lg-6 order-lg-1">
                    <div class="working-process">
                      <h3><span>#01.</span>Create Account</h3>
                      <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over you need to be sure there isn't anything embarrassing.</p>
                    </div>
                    <div class="working-process">
                      <h3><span>#02.</span>Search Your Job</h3>
                      <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over you need to be sure there isn't anything embarrassing.</p>
                    </div>
                    <div class="working-process">
                      <h3><span>#03.</span>Apply For Job</h3>
                      <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over you need to be sure there isn't anything embarrassing.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial -->
              <div class="padding-bottom-90">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="testimonial">
                        <div class="testimonial-quote">
                          <img src="../images/testimonial/quote.png" class="img-fluid" alt="">
                        </div>
                        <div class="testimonial-for">
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob One”</p>
                            <h5>Maria Marlin @ Google</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Two”</p>
                            <h5>Laura Harper @ Amazon</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Three”</p>
                            <h5>John Doe @ Envato</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Four”</p>
                            <h5>Jenny Doe @ Dribbble</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Five”</p>
                            <h5>Michle Clark @ Apple</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Two”</p>
                            <h5>Laura Harper @ Amazon</h5>
                          </div>
                          <div class="testimonial-item">
                            <p>“On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charmsto send our denim shorts wardrob Three”</p>
                            <h5>John Doe @ Envato</h5>
                          </div>
                        </div>
                        <div class="testimonial-nav">
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-1.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/1.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-2.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/2.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-3.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/3.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-4.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/4.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-5.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/5.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-2.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/2.png" class="comapnyLogo" alt="">
                          </div>
                          <div class="commenter-thumb">
                            <img src="../images/testimonial/thumb-3.jpg" class="img-fluid commenter" alt="">
                            <img src="../images/testimonial/3.png" class="comapnyLogo" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial End -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- How It Work End -->

    <!-- Call to Action -->
    <div class="call-to-action-bg padding-top-90 padding-bottom-90">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="call-to-action-2">
              <div class="call-to-action-content">
                <h2>For Find Your Dream Job </h2>
                <p>Add resume or post a job. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
              </div>
              <div class="call-to-action-button">
                <a href="add-resume.html" class="button">Add Resume</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Call to Action End -->

    <!-- Footer -->
    <footer class="footer-bg">
        <% include ../partials/user/footer %>
    </footer>
    <!-- Footer End -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/feather.min.js"></script>
    <script src="../assets/js/bootstrap-select.min.js"></script>
    <script src="../assets/js/jquery.nstSlider.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/visible.js"></script>
    <script src="../assets/js/jquery.countTo.js"></script>
    <script src="../assets/js/chart.js"></script>
    <script src="../assets/js/plyr.js"></script>
    <script src="../assets/js/tinymce.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="../js/custom.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC87gjXWLqrHuLKR0CTV5jNLdP4pEHMhmg"></script>
    <script src="../js/map.js"></script>
  </body>
</html>
